<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/organRegistry/public/css/styles.css">

    <title>Organ Donation Registry</title>
</head>
<body>
    <div class="content-wrapper">
        {{{body}}}
    </div>
     <footer>
        <nav class="footerNav">
            <ul>
                <li><a href="/">Return to Portfolio Website Home</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>