<!-- index.hbs -->

            <h1>Organ Donation Registry</h1>
    <p>Use the navigation to find the tables you are looking for.</p>
        <nav>
            <ul>
                <li><a href="/organRegistry">Organ Registry Home</a></li>
                <li><a href="/organRegistry/Organs">Organs</a></li>
                <li><a href="/organRegistry/Recipients">Recipients</a></li>
                <li><a href="/organRegistry/Donors">Donors</a></li>
                <li><a href="/organRegistry/Transplants">Transplants</a></li>
                <li><a href="/organRegistry/Match">Organ Recipient Match</a></li>
                <li><a href="/organRegistry/List">Organ List</a></li>
            </ul>    
        </nav>
        <p>OrganRegistry is a comprehensive web application designed to 
            manage and track organ donations and transplants. 
            It provides an intuitive user interface for adding, updating, 
            and deleting organs, donors, recipients, matches, and transplants.</p>

   



