<!-- index.hbs -->

        
            <h1>Organ Donation Registry</h1>
    <p>Use the navigation to find the tables you are looking for.</p>
        <nav>
            <ul>
                <li><a href="/organRegistry">Home</a></li>
                <li><a href="/organRegistry/Organs">Organs</a></li>
                <li><a href="/organRegistry/Recipients">Recipients</a></li>
                <li><a href="/organRegistry/Donors">Donors</a></li>
                <li><a href="/organRegistry/Transplants">Transplants</a></li>
                <li><a href="/organRegistry/Match">Organ Recipient Match</a></li>
                <li><a href="/organRegistry/List">Organ List</a></li>
            </ul>    
        </nav>


