<!-- 
Citation for the following file 
Date: 08/04/2023
Based on CS340 starter code
URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/ 
 -->
<!-- index.hbs -->
<!DOCTYPE html>
<html>
    <head>
    <title>My Medical App</title>
    <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        
            <h1>Organ Donation Registry</h1>
    <p>Use the navigation to find the tables you are looking for.</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Organs">Organs</a></li>
                <li><a href="/Recipients">Recipients</a></li>
                <li><a href="/Donors">Donors</a></li>
                <li><a href="/Transplants">Transplants</a></li>
                <li><a href="/Match">Organ Recipient Match</a></li>
                <li><a href="/List">Organ List</a></li>
            </ul>    
        </nav>

    </body>
</html>