html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
}

nav {
    height: 2.5rem;
    background-color: rgb(221, 217, 217);
    line-height: 2.5rem;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    place-items: center;
}

.content-wrap {
    min-height: 100%;
    /* Equivalent to footer height */
    display: flex;
    flex-direction: column;
}

footer, .content-wrap::after {
    height: 50px;
}



/* Intro section styles */
.intro-section {
    text-align: center;
    padding: 1rem;
    margin-bottom: 5rem;
    width: 80%;
}

.about-section {
    width: 80%;
    text-align: left;
}

.contact-content {
    text-align: left;
}

.project-section {
    text-align: center;
}

.project-phase {
    margin: 15px;
}

.project-overview-section {
    margin: 25px;
}

.feature-overview {
    margin: 25px;
}


/* Featured projects layout */
.featured-projects {
    display: flex;  /* This makes child divs sit side-by-side */
    flex-wrap: wrap; /* This allows the projects to wrap to the next line if there's not enough space */
    justify-content: space-between; /* This adds space between the projects */
}

.project-section {
    flex: 0 0 calc(50% - 10px); /* This makes each project take up half the width minus a little space for margin */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
    padding: 1rem;
    border: 1px solid #ccc; /* Optional border */
    margin-bottom: 20px; /* Space at the bottom of each project */
}

.project-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.project-link:hover {
    background-color: #555;
}
